html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

@media(min-width:767px) {
	#container div canvas{
		box-shadow: inset 0px 0px 190px 20px rgba(33, 87, 83, 0.9);
	}
}

.curVideo{
	cursor: url(images/curVideo.png) 16 16, pointer;
}
.curAudio{
	cursor: url(images/curAudio.png) 16 16, pointer;
}

.yvideo{
	width:100%;
}

#tlg-form{
	text-align:center;
}


svg {
  width: 100%;
  height: inherit;
}
svg text {
  text-anchor: middle;
}
svg #alpha {
  fill: #dfdfdf;
}
svg #title {
  letter-spacing: -2px;
  font-size: 2em;
  font-weight: 800;
}

svg #base {
  fill: white;
  -webkit-mask: url(#mask);
          mask: url(#mask);
}

#tlg-message{
	display: inline-block;
	border: 1px solid gray;
	font-size: 24px;
	text-align: left;
	width: 100%;
	height: 200px;
	padding: 10px;
	margin:0 0 10px 0;
	resize: none;
	box-sizing: border-box;
}
#tlg-button{
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	padding: 10px 0;
	font-weight: 100;
	font-family: Roboto;
	color: gray;
	border: 1px solid gray;
	background: white;
}

#cover{
	width:100%;
	height:100%;
}
.gg_contextmenu{
	background:red;
}

.poly_title{
	color:red;
	background: white;
	padding: 10px;
	box-shadow: 0px 2px 27px 46px black;
	position: relative;
}
.poly_title:after{
	display: block;
	content: '';
	width:10px;
	height:10px;
	transform: rotate(45deg);
	background: green;
	border:none;
	bottom: 5px;
	left: 10px;
}